.parallax {
    min-height: 400px;
    background: transparent;
    }

    form {
        position: relative;
    }

    #button{
        border-style: inherit;
        color: black;
        padding: 10px 23px;
        border-radius: 4px;
    }